daemonize: yes
admin_port: 9924
server_port: 12324

admin_tw_cap: 2000

buf_init_size: 4096

buf_sock_poolsize: 16384

debug_log_level: 5
debug_log_file: log/slimcache-12324.log
debug_log_nbuf: 1048576

klog_file: log/slimcache-12324.cmd
klog_backup: log/slimcache-12324.cmd.old
klog_sample: 100
klog_max: 1073741824


prefill: yes
prefill_ksize: 32
prefill_vsize: 992
prefill_nkey: 32051995

request_poolsize: 100000
response_poolsize: 200000

time_type: 2
cuckoo_datapool: /mnt/pmem12/pool12324
cuckoo_item_size: 1072
cuckoo_nitem: 32051995
