daemonize: yes
admin_port: 9909
server_port: 12309

admin_tw_cap: 2000

buf_init_size: 4096

buf_sock_poolsize: 16384

debug_log_level: 5
debug_log_file: log/slimcache-12309.log
debug_log_nbuf: 1048576

klog_file: log/slimcache-12309.cmd
klog_backup: log/slimcache-12309.cmd.old
klog_sample: 100
klog_max: 1073741824


prefill: yes
prefill_ksize: 32
prefill_vsize: 32
prefill_nkey: 76695845

request_poolsize: 100000
response_poolsize: 200000

time_type: 2
cuckoo_datapool: /mnt/pmem13/pool12309
cuckoo_item_size: 112
cuckoo_nitem: 76695845
